/*!
 * Name: Personal Portfolio Webpage
 * Author: Yoseph Berhane
 * License: MIT License
 */

a {
  color: #3AAA64;
}

a:hover {
  color: #5f6b77;
}

.btn, a.btn {
  font-family: 'Montserrat', arial, sans-serif;
  padding: 8px 16px;
  font-weight: bold;
}

a.btn-cta-primary, .btn-cta-primary {
  background: #54ba4e;
  border: 1px solid #54ba4e;
  color: #fff;
  font-weight: 600;
}

a.btn-cta-primary:hover, .btn-cta-primary:hover {
  background: #49ac43;
  border: 1px solid #49ac43;
  color: #fff;
}

a.dotted-link {
  border-bottom: 1px dotted #778492;
  color: #778492;
}

a.dotted-link:hover {
  color: #49515a;
}
